/* Styles personnalisés pour les présentations */
.presentation-mode {
  .VPNav,
  .VPSidebar,
  .VPFooter {
    display: none !important;
  }
}

.slide-link {
  display: inline-block;
  padding: 12px 24px;
  background: #3eaf7c;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  margin: 10px;
  transition: background 0.3s;
}

.slide-link:hover {
  background: #369870;
}

@media print {
    .VPContent{
        padding: 0 !important;
        margin: 0 !important;
    }

    header.VPNav, .VPDoc .aside, aside {
        display: none !important
    }

    .content-container{
        max-width: 100% !important;
    }
}
